<%- @books.to_a.in_groups_of(4) do |group| %>
  <div class="row">
    <% group.compact.each do |book| %>

      <div class="col-lg-3 col-md-4 col-sm-6 book-item">
        <div class="card h-100">
          <% if book.image_link.present? %>
              <%= image_tag(book.image_link) %>
          <% else %>
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <% end %>

          <div class="card-body">
            <h4 class="card-title">
              <a href="#"><%= book.title %></a>
            </h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>