<h1 class="my-4">Поиск
  <small>по полкам пользователей</small>
</h1>

<div class="row">
  <div class="col-md-12" id="search-field">
    <%= form_tag(search_user_books_path(current_user), method: :get) do %>

      <div class="input-group add-on">
        <%= text_field_tag :term, '', placeholder: 'Search for...', class: 'form-control', id: 'srch-term' %>

        <div class="input-group-btn">
          <%= submit_tag 'Search', class: 'btn btn-default' do %>
            <i class="glyphicon glyphicon-search"></i>
          <% end %>
        </div>
      </div>

      <label class='checkbox-inline'>
        <%= radio_button_tag :option, :user, true %>
        By ebb user
      </label>
      <label class='checkbox-inline'>
        <%= radio_button_tag :option, :web, params[:option] == 'web' ? true : false %>
        In web
      </label>
    <% end %>
  </div>
</div>

<% if params[:option] == 'web' %>
  <%- @books.to_a.in_groups_of(4) do |group| %>
    <div class="row">
      <% group.compact.each do |book| %>

        <div class="col-lg-3 col-md-4 col-sm-6 book-item">
          <div class="card h-100">
            <% if book.image_link.present? %>
              <%= image_tag(book.image_link(zoom: 2)) %>
            <% else %>
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <% end %>

            <div class="card-body">
              <h4 class="card-title">
                <a href="#"><%= book.title %></a>
              </h4>
              <% if current_user.books.pluck(:isbn).include?(book.isbn) %>
                <div>
                  Уже добавлена на полку
                </div>
              <% else %>
                <div>
                  <%= link_to 'У меня такая есть', user_books_path(current_user, isbn: book.isbn), method: :post, class: 'btn btn-success' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% else %>
    <%- Book.all.to_a.in_groups_of(4) do |group| %>
      <div class="row">
        <% group.compact.each do |book| %>
          <div class="col-lg-3 col-md-4 col-sm-6 book-item">
            <div class="card h-100">
              <% if book.image_link.present? %>
                <%= image_tag(book.image_link) %>
              <% else %>
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <% end %>

              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"><%= book.title %></a>
                </h4>
                <div> На полке у <%= book.users.pluck(:username).join(',') %> </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
<% end %>
