<!DOCTYPE html>
<html>
  <head>
    <title>Ebbbookcrossing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  </head>

  <body>
    <%= render 'layouts/shared/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
